.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color-dark);
  position: relative;
}

h1 {
  color: #fff;
  font-size: 48px;
}

.text-link {
  cursor: pointer;
  color: var(--primary-color); /* Adjust color as needed */
  text-decoration: none;
  font-size: 1.2em; /* Adjust font size as needed */
  position: fixed;
  font-weight: 300;
}

.text-link:hover {
  font-weight: 400;
  color: var(--primary-color-light); /* Darker shade on hover */
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}